.btn {
  text-decoration: none;
  border: none;
  background: #9dabc0;
  color: #fff;
  padding: 10px 63px;
  border-radius: 25px;
  font-weight: 600;
  box-shadow: 0px 10px 15px rgba(55, 84, 170, 0.25);
}
